<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="simplexSecurity" type="AmadeusConsulting.Simplex.Security.Configuration, Amadeus.Simplex.Base" />
		<section name="apiSecurity" type="Hermes.WebApi.Core.Security.Configuration, Hermes.WebApi.Core" />
		<section name="componentPaths" type="Atlas.Core.Component.ComponentPathsConfigurationSection, Hermes.WebApi.Extensions, Version=1.0.0.0, Culture=neutral"/>
	</configSections>
	<simplexSecurity authenticationConnectionStringName="auth" authorizationConnectionStringName="auth" />
	<apiSecurity enableAuthentication="true" enableHermesAuthorization="true" preventCSRFAttack="true"
							 csrfCookieName="csrfCookie" csrfHeaderName="csrfHeader" apiVersion="" />
	<componentPaths>
		<add name="CommandCenter" url="CommandCenter" cookieDomain="domainName232" cookieName="cookieName" username="unittest" password="unittestpassword"/>
	</componentPaths>
	<connectionStrings>
		<add name="default" connectionString="Server=(localdb)\LordAvinash;Database=GTAuth;Integrated Security=SSPI;" />
		<add name="auth" connectionString="Server=(localdb)\LordAvinash;Database=GTAuth;Integrated Security=SSPI;" />
	</connectionStrings>
	<appSettings>
		<add key="SimplexEncryptionKey" value="F04176D9D62BD2437DC837C243722D8C572597DC9820A4C0876843F75B575A2B" />
		<add key="SimplexEncryptionIv" value="A2D8227F9F962C00E606D1FD96BAFD42" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ConfigName" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>